header {
    background: #FFF;
    position: sticky;
    top: 0;
    z-index: 10;

    h1 {
        a {
            background: #FFF;
            color: #080;
            font-size: 6rem;
            text-decoration: none;
        }
    }
}

p {
    font-size: 2rem;
    line-height: 1.2;
}


.find-out {
    .container {
        display: inline-block;
        margin: 0 auto;
    }

    img {
        &.left {
            height: 3.6rem;
            margin-left: -1.5rem;
        }

        &.right {
            height: 2.7rem;
            margin-right: -6rem;
        }
    }

    .text {
        font-size: 2.4em;
        font-weight: 900;
    }
}

.hire {
    background: #FFF;
    height: 24rem;
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
    min-width: 80rem;

    /* position: fixed; */
    position: sticky;

    #fadebar {
        background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
        height: 3rem;
        width: 100%;
    }

    #monitor {
        position: absolute;
        right: 0;
        width: 18rem;
    }

    .nameplate {
        position: absolute;
        right: 4rem;
        top: 13.5rem;
        width: 10rem;
    }

    .paul {
        position: absolute;
        left: 0;
        top: .8rem;
        z-index: -1;

        img {
            display: block;
            width: 13rem;
        }
    }

    .relative {
        height: 16rem;
    }
}

.offset {
    height: 2rem;
}