h1 {
    font-size: 3rem;
    font-weight: bolder;
}

main {
    background: #FFF;
    margin: 0 auto;
    max-width: 1200rem;
    text-align: center;
}

.about-me {

    .intro {
        margin: 1.5rem 0;
    }
}

.details {
    display: inline-block;
    vertical-align: top;
}

.page {
    border-left: thin solid #AAA;
    border-right: thin solid #AAA;
    padding: 1rem 2rem;
}
