.online-presence {
    margin-top: 3rem;

    ul {
        margin: 1rem auto;

        li {
            display: inline-block;
            list-style: none;
            margin: 0 3rem;

            img {
                height: 5.8rem;
            }
        }
    }
}